[submodule "firmware/fpga/zynq_logger"]
	path = firmware/fpga/zynq_logger
	url = git@github.com:Yatekii/zynq_logger.git
[submodule "doc/report/alpenthesis"]
	path = doc/report/alpenthesis
	url = https://github.com/alpenwasser/alpenthesis
